
.about-info{
	margin-top: 10px;
	display: flex;
	padding-bottom: 50px;
}

.wd-50{
	padding: 15px;
	float: right;
	width: 50%;
}

.wd-50 img{
	height: 50vh;
	width: 100%;
}

@media screen and (max-width: 1200px){
	.section-heading{
		padding-left: 10px;
	}
}

@media screen and (max-width: 768px){
	.about-info{
		flex-wrap: wrap;
	}

	.wd-50{
		float: none;
		width: 100%;
	}
}